@layer base {
  :root {
    color-scheme: light dark;
  }

  html {
    color: var(--c-fg);
    background-color: var(--c-bg);
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  @font-face {
    font-family: Metamorphous;
    src: url("/Metamorphous.ttf") format("truetype");
    font-weight: 400;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
  }

  h1,
  .h1 {
    font-size: var(--fs-5);
  }

  h2,
  .h2 {
    font-size: var(--fs-4);
  }

  h3,
  .h3 {
    font-size: var(--fs-3);
  }

  h4,
  .h4 {
    font-size: var(--fs-2);
  }

  h5,
  .h5 {
    font-size: var(--fs-1);
  }

  h6,
  .h6,
  p,
  li,
  a {
    font-size: var(--fs-0);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    line-height: 1.2;
  }

  a,
  button {
    display: block;
  }

  input,
  select,
  textarea {
    display: block;
    margin-block-start: 0.25rem;
    border: 2px var(--c-black-8) solid;
    background-color: oklch(from var(--c-white) l c h / 93%);
    padding: 0.35rem;
    color: var(--c-black);
    font-size: var(--fs-0);
    font-weight: normal;

    &:disabled {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &[data-input-state="error"] {
      border-color: red;
    }
  }

  .btn {
    --b-bg-color: var(--c-gold);
    --b-text-color: var(--c-black);
    --b-border-color: var(--c-gold);

    appearance: none;
    cursor: pointer;
    border: var(--b-border-color) solid 1px;
    color: var(--b-text-color);
    background: var(--b-bg-color);
    padding: 0.5em 1em;
    font-weight: 600;
    transition: all 0.2s ease;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background: oklch(from var(--b-bg-color) calc(l * 1.1) c h);
      border-color: oklch(from var(--b-border-color) calc(l * 1.1) c h);
      color: oklch(from var(--b-text-color) calc(l * 1.1) c h);
    }

    &.outline {
      background: transparent;
      color: var(--c-white);
      border-color: var(--c-white);

      &:hover {
        background: var(--c-fg);
        border-color: var(--c-fg);
      }
    }

    &.secondary {
      --b-bg-color: var(--c-green);
      --b-text-color: var(--c-black);
      --b-border-color: var(--c-green);
    }

    &.tertiary {
      --b-bg-color: var(--c-dark-blue);
      --b-text-color: var(--c-white);
      --b-border-color: var(--c-dark-blue);
    }

    &.ghost {
      --b-text-color: var(--b-bg-color);

      border: none;
      background-color: transparent;

      &:hover {
        background: oklch(from var(--b-bg-color) l c h / 20%);
      }
    }
  }
}
