@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  .visually-hidden {
    clip-path: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  input.visually-hidden:is(:focus, :focus-within) + label {
    outline: thin dotted;
  }

  .wrapper {
    margin-inline: auto;
    max-width: min(80rem, 100%);
    padding: 1rem 0.5rem;
  }
}
