:root {
  /* Breakpoints */
  @custom-media --above-sm (width >= 40em);
  @custom-media --above-md (width >= 48em);
  @custom-media --above-lg (width >= 64em);
  @custom-media --above-xl (width >= 80em);

  /* Colors */
  --c-gold: oklch(93% 0.184 98.42deg);
  --c-green: oklch(74.83% 0.245 142.63deg);
  --c-dark-blue: oklch(35.69% 0.037 206.28deg);
  --c-brown: oklch(72.62% 0.07 82.85deg);
  --c-white: oklch(100% 0 0deg / 95%);
  --c-black: oklch(0% 0 0deg);

  /* Gold variations */
  --c-gold-1: oklch(from var(--c-gold) calc(l * 0.1) c h);
  --c-gold-2: oklch(from var(--c-gold) calc(l * 0.2) c h);
  --c-gold-3: oklch(from var(--c-gold) calc(l * 0.3) c h);
  --c-gold-4: oklch(from var(--c-gold) calc(l * 0.4) c h);
  --c-gold-5: oklch(from var(--c-gold) calc(l * 0.5) c h);
  --c-gold-6: oklch(from var(--c-gold) calc(l * 0.6) c h);
  --c-gold-7: oklch(from var(--c-gold) calc(l * 0.7) c h);
  --c-gold-8: oklch(from var(--c-gold) calc(l * 0.8) c h);
  --c-gold-9: oklch(from var(--c-gold) calc(l * 0.9) c h);

  /* Green variations */
  --c-green-1: oklch(from var(--c-green) calc(l * 0.1) c h);
  --c-green-2: oklch(from var(--c-green) calc(l * 0.2) c h);
  --c-green-3: oklch(from var(--c-green) calc(l * 0.3) c h);
  --c-green-4: oklch(from var(--c-green) calc(l * 0.4) c h);
  --c-green-5: oklch(from var(--c-green) calc(l * 0.5) c h);
  --c-green-6: oklch(from var(--c-green) calc(l * 0.6) c h);
  --c-green-7: oklch(from var(--c-green) calc(l * 0.7) c h);
  --c-green-8: oklch(from var(--c-green) calc(l * 0.8) c h);
  --c-green-9: oklch(from var(--c-green) calc(l * 0.9) c h);

  /* Dark Blue variations */
  --c-dark-blue-1: oklch(from var(--c-dark-blue) calc(l * 0.1) c h);
  --c-dark-blue-2: oklch(from var(--c-dark-blue) calc(l * 0.2) c h);
  --c-dark-blue-3: oklch(from var(--c-dark-blue) calc(l * 0.3) c h);
  --c-dark-blue-4: oklch(from var(--c-dark-blue) calc(l * 0.4) c h);
  --c-dark-blue-5: oklch(from var(--c-dark-blue) calc(l * 0.5) c h);
  --c-dark-blue-6: oklch(from var(--c-dark-blue) calc(l * 0.6) c h);
  --c-dark-blue-7: oklch(from var(--c-dark-blue) calc(l * 0.7) c h);
  --c-dark-blue-8: oklch(from var(--c-dark-blue) calc(l * 0.8) c h);
  --c-dark-blue-9: oklch(from var(--c-dark-blue) calc(l * 0.9) c h);

  /* White variations */
  --c-white-1: oklch(from var(--c-white) 10% c h);
  --c-white-2: oklch(from var(--c-white) 20% c h);
  --c-white-3: oklch(from var(--c-white) 30% c h);
  --c-white-4: oklch(from var(--c-white) 40% c h);
  --c-white-5: oklch(from var(--c-white) 50% c h);
  --c-white-6: oklch(from var(--c-white) 60% c h);
  --c-white-7: oklch(from var(--c-white) 70% c h);
  --c-white-8: oklch(from var(--c-white) 80% c h);
  --c-white-9: oklch(from var(--c-white) 90% c h);

  /* Black variations */
  --c-black-1: oklch(from var(--c-black) 10% c h);
  --c-black-2: oklch(from var(--c-black) 20% c h);
  --c-black-3: oklch(from var(--c-black) 30% c h);
  --c-black-4: oklch(from var(--c-black) 40% c h);
  --c-black-5: oklch(from var(--c-black) 50% c h);
  --c-black-6: oklch(from var(--c-black) 60% c h);
  --c-black-7: oklch(from var(--c-black) 70% c h);
  --c-black-8: oklch(from var(--c-black) 80% c h);
  --c-black-9: oklch(from var(--c-black) 90% c h);

  /* Foreground and background colors */
  --c-fg: light-dark(var(--c-black), var(--c-white));
  --c-bg: light-dark(var(--c-white), var(--c-black-3));

  /* Font sizes */
  --fs--2: clamp(0.6331rem, 0.7111rem + -0.0831vw, 0.6944rem);
  --fs--1: clamp(0.8333rem, 0.8305rem + 0.0144vw, 0.844rem);
  --fs-0: clamp(1rem, 0.9661rem + 0.1695vw, 1.125rem);
  --fs-1: clamp(1.2rem, 1.1187rem + 0.4063vw, 1.4996rem);
  --fs-2: clamp(1.44rem, 1.2884rem + 0.758vw, 1.999rem);
  --fs-3: clamp(1.728rem, 1.474rem + 1.2701vw, 2.6647rem);
  --fs-4: clamp(2.0736rem, 1.6727rem + 2.0046vw, 3.552rem);
  --fs-5: clamp(2.4883rem, 1.8791rem + 3.0461vw, 4.7348rem);

  /* Font families */
  --f-meta: "Metamorphous";

  /* Border radius */
  --br-1: 0.25rem;
  --br-2: 0.5rem;
  --br-3: 0.75rem;
  --br-4: 1rem;
  --br-5: 1.25rem;
  --br-6: 1.5rem;
}
