@import "tailwindcss";
@import "./lib/styles/components.css";
@plugin "@tailwindcss/forms";

:root {
  --color-gold: oklch(0.903 0.184 98.42);
  --color-green: oklch(0.7483 0.245 142.63);
  --color-dark-blue: oklch(0.3569 0.037 206.28);
}

@theme {
  --color-primary-light: oklch(from var(--color-gold) 1 c h);
  --color-primary: oklch(from var(--color-gold) l c h);
  --color-primary-dark: oklch(from var(--color-gold) 0.8 c h);

  --color-bg-dark: oklch(from var(--color-bg) 0.18 c h);
  --color-bg: oklch(0.15 0 0);
  --color-bg-light: oklch(from var(--color-bg) 0.2 c h);

  --color-fg-light: oklch(1 0 0);
  --color-fg: oklch(0.94 0 0);
  --color-fg-dark: oklch(0.88 0 0);

  --font-meta: "Metamorphous";
}

@theme inline {
  --color-primary: var(--color-gold);
  --color-secondary: var(--color-dark-blue);
  --color-accent: var(--color-green);
}

@layer base {
  html {
    @apply bg-bg text-white;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    line-height: 1.5;
  }
}

@font-face {
  font-family: "Metamorphous";
  src: url("Metamorphous.ttf") format("truetype");
  font-weight: 400;
}
