name: Page CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  check:
    name: Lint and Prettier
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - name: Install dependencies
        run: pnpm i
      - name: Run linters
        run: wearerequired/lint-action@v2
        with:
          eslint: true
          prettier: true
